img {
  width: 100%;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin: 0 0 5px 10px;
  padding: 2px;  /*controls size of the arrow*/
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* navigation */
ul {
  list-style-type: none;
  margin: 0;
  padding: 2.5% 0 2% 0%;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2vh;
  display: inline;
  margin: 0 5% 0 5%;
  letter-spacing: 1vh;
}
#adidasLogo {
  margin: 1.5% 1.5% 1.5% 3%;
  width: 5%;
  float: left;
}

/* landing page */
main {
  width: 90%;
  height: 80vh;
  margin: auto;
  position: relative;
  /* background-color: pink; */
}
.header {
  position: absolute;
  top: 5%;
  font-size: 5vw;
  font-family: 'Libre Franklin', sans-serif;
}
.sub-header {
  position: absolute;
  top: 25%;
}
.prod-description {
  width: 30%;
  height: 100px;
  padding: 1% 0 0 1%;
  position: absolute;
  top: 35%;
}
#imageBanner {
  float: right;
  width: 65%;
  margin: 0;
  padding: 0;
}
#cta {
  position: absolute;
  bottom: 40%;
}
