img {
  width: 100%;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin: 0 0 5px 10px;
  padding: 2px;  /*controls size of the arrow*/
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* navigation */
ul {
  list-style-type: none;
  margin: 0;
  padding: 2.5% 3% 2% 3%;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: inline;
  margin: 0 7% 0 7%;
}
#adidasLogo {
  margin-left: 1%;
  width: 8%;
  float: left;
}

/* landing page */
main {
  width: 90%;
  height: 80vh;
  margin: auto;
  position: relative;
  /* background-color: pink; */
}
h1 {
  position: absolute;
  top: 5%;
  font-size: 5vw;
  font-family: 'Libre Franklin', sans-serif;
}
h2 {
  position: absolute;
  top: 25%;
}
.prod-description {
  width: 30%;
  height: 100px;
  padding: 1% 0 0 1%;
  position: absolute;
  top: 35%;
}
#imageBanner {
  float: right;
  width: 65%;
  margin: 0;
  padding: 0;
}
#cta {
  position: absolute;
  bottom: 40%;
}
